@font-face {
  font-family: 'montserrat--extra-light-italic';
  src: url('fonts/montserrat-extralightitalic-webfont.woff2') format('woff2'),
       url('fonts/montserrat-extralightitalic-webfont.woff') format('woff'),
       url('fonts/montserrat-extralightitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
